<div class="create-edit-container" fxLayout="column">
  <h1 mat-dialog-title >{{ title }}</h1>

  <mat-dialog-content class="body-content">
    <div class="body-container">
      <ng-content select="[body]"></ng-content>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="action-content" fxLayoutAlign="end">
    <button 
      stPrimaryBtn
      (click)="onSubmit()"
      style="margin-right: 15px;"
    >
      {{ okButton ? okButton : 'CreateEditModalComponent.okButton' | translate }}
    </button>

    <button
      stGhostBtn
      (click)='onCancel()'
    >
      {{ cancelButton ? cancelButton : 'CreateEditModalComponent.cancelButton' | translate }}
    </button>
  </mat-dialog-actions>
</div>