<div class="new-user-container" fxLayout="column">
  <div fxFlex="50%">
    <h1 class="page-header">{{ 'NewUserComponent.title' | translate }}</h1>
  </div>

  <div>
    <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="50">
      <div fxLayout="column" fxFlex="100" style="margin-top: 3%; width: 100%">
        <label class="label-title">{{ 'NewUserComponent.userData' | translate }}</label>
        <mat-divider class="form-group-divider"></mat-divider>

        <div>
          <div fxLayout="row">
            <div class="input-container" fxFlex="50%" style="width: 100%">
              <mat-form-field class="input" appearance="outline">
                <mat-label>{{ 'NewUserComponent.username-field' | translate }}</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="username">
                <app-form-errors
                  fieldName="{{ 'NewUserComponent.username-field' | translate }}"
                  [control]="registerForm.get('username')"
                  [customErrorMsg]="customUsernameErrorMsgs"
                >
                </app-form-errors>
              </mat-form-field>
            </div>
            <app-form-select 
              *ngIf="role"
              [items]="roles$ | async"
              [formControl]="role"
              valueKey="id"
              optionKey="label"
            >
              <mat-label label-content>{{ 'NewUserComponent.role-field' | translate }}</mat-label>
              <app-form-errors error-content fieldName="{{ 'NewUserComponent.role-field' | translate }}" [control]="registerForm.get('role')"></app-form-errors>
            </app-form-select>            
          </div>

          <div fxLayout="row">
            <div class="input-container" fxFlex="50%" style="width: 100%">
              <mat-form-field class="input" appearance="outline">
                <mat-label>{{ 'NewUserComponent.password-field' | translate }}</mat-label>
                <input matInput type="password" autocomplete="off" formControlName="password">
                <app-form-errors
                  fieldName="{{ 'NewUserComponent.password-field' | translate }}"
                  [control]="registerForm.get('password')"
                  [customErrorMsg]="customPasswordErrorMsgs"
                >
                </app-form-errors>
              </mat-form-field>
            </div>

            <div class="input-container" fxFlex="50%" style="width: 100%">
              <mat-form-field class="input" appearance="outline">
                <mat-label>{{ 'NewUserComponent.confirm-password-field' | translate }}</mat-label>
                <input matInput type="password" autocomplete="off" formControlName="confirmPassword">
                <app-form-errors
                  fieldName="{{ 'NewUserComponent.confirm-password-field' | translate }}"
                  [control]="registerForm.get('confirmPassword')"
                  [customErrorMsg]="customPasswordErrorMsgs"
                >
                </app-form-errors>
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <label class="label-title">{{ 'NewUserComponent.personalData' | translate }}</label>
        <mat-divider class="form-group-divider"></mat-divider>
        
        <div fxLayout="row">
          <div class="input-container" fxFlex="50%" style="width: 100%">
            <mat-form-field class="input" appearance="outline">
              <mat-label>{{ 'NewUserComponent.firstName-field' | translate }}</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="firstName">
                <app-form-errors
                  fieldName="{{ 'NewUserComponent.firstName-field' | translate }}"
                  [control]="registerForm.get('firstName')"
                  [customErrorMsg]="customFirstNameErrorMsgs"
                >
                </app-form-errors>
            </mat-form-field>
          </div>

          <div class="input-container" fxFlex="50%" style="width: 100%">
            <mat-form-field class="input" appearance="outline">
              <mat-label>{{ 'NewUserComponent.lastName-field' | translate }}</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="lastName">
                <app-form-errors
                  fieldName="{{ 'NewUserComponent.lastName-field' | translate }}"
                  [control]="registerForm.get('lastName')"
                  [customErrorMsg]="customLastNameErrorMsgs"
                >
                </app-form-errors>
            </mat-form-field>
          </div>
        </div>

        <label class="label-title">{{ 'NewUserComponent.contactData' | translate }}</label>
        <mat-divider class="form-group-divider"></mat-divider>

        <div fxLayout='row'>
          <div class="input-container" fxFlex="50%" style="width: 100%">
            <mat-form-field class="input" appearance="outline">
              <mat-label>{{ 'NewUserComponent.email-field' | translate }}</mat-label>
              <input matInput type="email" autocomplete="off" formControlName="email">
              <app-form-errors error-content fieldName="{{ 'NewUserComponent.email-field' | translate }}" [control]="registerForm.get('email')"></app-form-errors>
            </mat-form-field>
          </div>

          <div class="input-container" fxFlex="50%" style="width: 100%">
            <mat-form-field class="input" appearance="outline">
              <mat-label>{{ 'NewUserComponent.confirmEmail-field' | translate }}</mat-label>
              <input matInput type="email" autocomplete="off" formControlName="confirmEmail">
              <app-form-errors error-content 
                fieldName="{{ 'NewUserComponent.confirmEmail-field' | translate }}"
                [control]="registerForm.get('confirmEmail')"
                [customErrorMsg]="customConfirmEmailErrorMsgs"
              >
              </app-form-errors>
            </mat-form-field>
          </div>
        </div>

        <mat-divider class="form-group-divider"></mat-divider>
        <div fxLayout='row' fxFlex="50%" style="width: 25%">
          <button class="btn btn-info my-4 btn-block" type="submit">{{ 'NewUserComponent.submit' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">


  <div class="form-row mb-4">
      <div class="col">
          <input type="text" formControlName="firstName" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
      <div class="col">
          <input type="text" formControlName="lastName" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
      </div>
  </div>

  <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"
          [class.field-error]='registerForm.controls["email"].invalid  && (registerForm.controls["email"].dirty || registerForm.controls["email"].touched)'>
  <div [hidden]='registerForm.controls["email"].valid || registerForm.controls["email"].untouched'
        class='alert alert-danger'>
    Enter a valid Email.  
  </div>

  <input type="email" formControlName="confirmEmail" id="defaultRegisterFormConfirmEmail" class="form-control mb-4" placeholder="Confirm E-mail"
          [class.field-error]='registerForm.controls["confirmEmail"].invalid  && (registerForm.controls["confirmEmail"].dirty || registerForm.controls["confirmEmail"].touched)'>
  <div [hidden]='registerForm.controls["confirmEmail"].value === registerForm.controls["email"].value || registerForm.controls["confirmEmail"].untouched'
        class='alert alert-danger'>
    Email does not match.   
  </div>

  <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

  <hr>
  <div class="reminder-note">*Password must have a minimum of 8 characters alpha-numerics, including at least one uppercase letter.</div>

</form> -->