@import "../../../app/styles/ng-variables.scss";

.current-user-info {
  position: absolute;
  top: 0px;
  right: 2px;

  .menu-trigger-content {
    height: 100%;
    width: 100%;
  }

  .user-dropdown-button {
    border: 0;
    color: $st-grey-700;
    background-color: $st-grey-100;
    width: 62px;
    height: 62px;
    border-radius: 4px;
    padding: 10px;
    transition: background .2s ease;

    &:hover, &:focus {
      cursor: pointer;
      background-color: $st-grey-200;
    }

    &:focus {
      outline: none;
    }
  }
}

.action-menu {
  position: absolute;
  top: 64px;
  right: 2px;
  width: 100px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid $st-grey-100;
  background-color: $white;
  z-index: 99;

  .user-name {
    margin: 16px 20px 0;
    font-size: 12px;
    font-weight: 400;
  }

  .user-company-name {
    margin: 8px 20px 0;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 200;
    border-bottom: 1px solid $st-grey-100;
  }

  button {
    min-width: 100px;
    height: 36px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    border: 1px solid transparent;
    transition: background 0.3s ease;
    background-color: $white;
    color: $st-blue;
    border-radius: 4px;
    padding: 0 12px;
    margin: 4px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover, &:focus {
      outline: none;
      background: $st-grey-50;
    }

    &:active {
      background-color: $st-grey-100;
      color: $st-grey-700;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: $white;
      color: rgba($st-blue, 0.5);
    }
  }

  .nav-link {
    color: $st-grey-600;
    transition: background .2s ease;
    text-decoration: none;
    min-width: 100px;
    height: 36px;
    padding: 0 12px;
    margin: 4px 8px;
    &:hover {
      outline: none;
      background: $st-grey-50;
    }
  }

  .nav-link-text {
    padding-top: 8px;
  }
}