<div class="page-background">
  <div align="center">
    <img src="assets/img/logo.png" width="180px" height="auto">
    <h5 style="margin-top: 15px">
      {{ 'LoginComponent.title' | translate }}
    </h5>
    <br>
  </div>

  <div class="login-background">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">      
      <mat-form-field class="input" appearance="outline" >
        <mat-label>{{ 'LoginComponent.user-field' | translate }}</mat-label>
        <input matInput class="loginInput" type="text" formControlName="username"/>
      </mat-form-field>

      <mat-form-field class="input" appearance="outline" >
        <mat-label>{{ 'LoginComponent.pwd-field' | translate }}</mat-label>
        <input matInput class="loginInput" type="password" formControlName="password"/>
      </mat-form-field>

      <mat-checkbox
        formControlName="keepSessionOpen"
        style="display: inline-flex;"
        [color]="color"
      >
        <mat-label style=" font-size: medium;">{{ 'LoginComponent.keep-session-open' | translate }}</mat-label>
      </mat-checkbox>

      <div fxLayout="row" fxLayoutAlign="flex-end" class="actions">
        <button
          [disabled]="loginForm.invalid || loading" 
          stPrimaryBtn
          type="submit"
        >
          {{ 'LoginComponent.submit' | translate }}
        </button>
        <img *ngIf="loading" class="pl-2"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>

      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
