<app-confirm-cancel-modal
  title="{{ 'AssetLevelEditComponent.title' | translate }}"
  (submitEvent)="onSubmit()"
  (cancelEvent)="onCancel()"
>
  <div body *ngIf="editLevelForm" [formGroup]="editLevelForm">
    <div class="input-container">
      <mat-form-field class="input" appearance="outline">
        <mat-label>{{ 'AssetLevelEditComponent.description-field' | translate }}</mat-label>
        <textarea rows="3" matInput type="text" autocomplete="off" formControlName="description"></textarea>
        <app-form-errors
          fieldName="{{ 'AssetLevelEditComponent.description-field' | translate }}"
          [control]="editLevelForm.get('description')"
          [customErrorMsg]="customDescriptionErrorMsgs"
        >
        </app-form-errors>
      </mat-form-field>
    </div>
  </div>
</app-confirm-cancel-modal>
