<app-create-edit-modal
  title="{{ 'AssetLevelCreateComponent.title' | translate }}"
  (submitEvent)="onSubmit()"
  (cancelEvent)="onCancel()"
>
  <div body *ngIf="createForm" [formGroup]="createForm">
    <div class="input-container">
      <mat-form-field class="input" appearance="outline">
        <mat-label>{{ 'AssetLevelCreateComponent.description-field' | translate}}</mat-label>
        <textarea rows="3" matInput type="text" autocomplete="off" formControlName="description"></textarea>
        <app-form-errors
          fieldName="{{ 'AssetLevelCreateComponent.description-field' | translate }}"
          [control]="createForm.get('description')"
          [customErrorMsg]="customDescriptionErrorMsgs"
        >
        </app-form-errors>
      </mat-form-field>
    </div>
  </div>
</app-create-edit-modal>