<div class="users-list-container">
  <h1 class="page-header">{{ 'UserListComponent.title' | translate }}</h1>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="users-list-container__options">
    <button type="button" stPrimaryBtn (click)="handleNewUser()">
      {{ 'UserListComponent.new-button' | translate }}
    </button>
   <!--  <div fxLayoutAlign=" center">
      <st-input-container>
        <mat-icon ngfPrefix>search</mat-icon>
        <input (input)="handleSearch($event.target)" placeholder="{{ 'UserListComponent.search-subscriber' | translate }}" />
      </st-input-container>
    </div> -->
  </div>

  <!-- <div class="page-tabs users-list-container__tabs" role="tablist">
    <div
    class="page-tabs__tab" [class.page-tabs__tab--selected]="showActiveusers"
    (click)="getActiveusers()" role="tab">
      {{ 'UserListComponent.active' | translate }}
    </div>
    <div
    class="page-tabs__tab" [class.page-tabs__tab--selected]="!showActiveusers"
    (click)="getInactiveusers()" role="tab">
      {{ 'UserListComponent.inactive' | translate }}
    </div>
  </div> -->


  <div fxLayout="row" class="users-list-container__content-block">
    <div fxFlex>
      <app-loading-indicator [isLoading]="loading">
        <ng-container *ngIf="usersList && usersList.length > 0; else emptyList">
          <div class="responsive-table-container">
            <table stTable class="users-list-container__table">
              <thead>
              <tr>
                <th width='20px'></th>
                <th class="users-list-container__table__header__id">{{ 'UserListComponent.table.id' | translate }}</th>
                <th class="users-list-container__table__header__name">{{ 'UserListComponent.table.name' | translate }}</th>
                <th class="users-list-container__table__header__email">{{ 'UserListComponent.table.email' | translate }}</th>
                <th class="users-list-container__table__header__role">{{ 'UserListComponent.table.role' | translate }}</th>
                <th class="users-list-container__table__header__status">{{ 'UserListComponent.table.status' | translate }}</th>
                <th class="users-list-container__table__header__actions">{{ 'UserListComponent.table.actions' | translate }}</th>          
              </tr>
              </thead>

              <tbody>
              <tr *ngFor='let user of usersList'>
                <ng-container *ngIf="user">
                  <td></td>
                  <td class="users-list-container__users-list__item__property__id">
                    <span>{{ user.id }}</span>
                  </td>
                  <td class="users-list-container__users-list__item__property__name">
                    <span>{{ user.firstName + " " + user.lastName }}</span>
                  </td>
                  <td class="users-list-container__users-list__item__property__email">
                    <span>{{ user.email }}</span>
                  </td>
                  <td class="users-list-container__users-list__item__property__role">
                    <span>{{ user.role.label }}</span>
                  </td>
                  <td class="users-list-container__users-list__item__property__status">
                    <span>{{ (user.isActive ? 'UserListComponent.statusActive' : 'UserListComponent.statusInactive') | translate }}</span>
                  </td>
                  <td class="users-list-container__table__header__actions">
                    <mat-icon [routerLink]='["/users", user.id, "view"]'>visibility</mat-icon>
                    <mat-icon [routerLink]='["/users", user.id, "delete"]'>close</mat-icon>
                    <mat-icon [routerLink]='["/users", user.id, "inactivate"]' *ngIf='user.isActive'>lock</mat-icon>
                    <mat-icon [routerLink]='["/users", user.id, "inactivate"]' *ngIf='user.isActive === false'>lock_open</mat-icon>
                  </td>           
                </ng-container>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-template #emptyList>
          <ng-template>
            <ng-container>
              <div class="users-list-container__empty-list">
                <p class="users-list-container__empty-list__title">{{ 'UserListComponent.no-users-created' | translate }}</p>
              </div>
            </ng-container>
          </ng-template>
        </ng-template>
      </app-loading-indicator>
    </div>
  </div>
</div>